<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BF科技</title>
</head>
<body>
    <h1 align="center">内网邮箱</h1>
    <br>
    <p align="center">推荐问题：修改密码、个人盘的介绍、添加附件、登录邮箱、移动邮件</p>
    <center>
    <form action="/info" method="get" align="center">
        请输入文本：<input type="text"  size="80" name="cw_question">
        <input type="submit" value="查询">
    </form>
    </center>
    <br>
    <br>
    <p align="left"><font color="#800000">{{questuon}}</font></p>
    <p align="right">{{result}}</p>
</body>
</html>
